<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>

        <p>Your browser fingerprint: <strong id="fp1"></strong></p>
        <p><span id="time1" /></p>
        <p><span id="details1" /></p>

        <button type="button" id="btn1">Get my fingerprint</button>


    </div>

</div>