<div class="row">
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>

        <p>Your browser fingerprint: <strong id="fp"></strong></p>
        <p><span id="time" /></p>
        <p><span id="details" /></p>
        <button type="button" id="btn">Get my fingerprint</button>


    </div>

</div>